<head>
    <meta charset="UTF-8" />
    <title>springboot登录</title>
    <style type="text/css">
        .mainTopStyle{
            padding-top: 200px;
            padding-left: 500px;
        }
        ul li{
            list-style: none;
        }
    </style>
    <script type="text/javascript">
        function check_login()
        {
            if(document.getElementById("username").value=="")/*document.表单名.文本域名.value==''"*/
            {
                alert("请检查用户名是否为空！");
                return false;
            }
            if(document.getElementById("password").value=="")
            {
                alert("请检查您的密码是否为空！");
                return false
            }
            /*<![CDATA[*/
            if(document.getElementById("password").value.length < 6)
            {
                alert("您的密码长度小于6！");
                return false
            }
            /*]]>*/
        }
    </script>
</head>
<body>
<div class="mainTopStyle">
    <form name="form" accept-charset="utf-8"  action="/loginVerify" method="post" onSubmit="javascript:return check_login();">
        <ul >
            <li>
                <label for="username"  class="input-tips2">用户名：</label>
                <div class="inputOuter2">
                    <input type="text" id="username" name="username" maxlength="16" />
                </div>
            </li>
            <li>
                <label for="password" class="input-tips2">密码：</label>
                <div >
                    <input type="password" id="password"  name="password" maxlength="16"/>
                </div>
            </li>
            <li>
                <div >
                    <input type="submit" value="登录"/>
                </div>
            </li>
        </ul>
    </form>
</div>
</body>  